html, body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

#app {
  background-color: transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}