html, body, main {
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
}

main {
  display: flex;
}

#app {
  background-color: transparent;
  padding: 5px;
  width: 20%;
}

#map {
  height: 100%;
  width: 80%;
}